.departmentProfileContainer {
  margin-top: 24px;
  border-radius: 16px;
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    .image {
      width: 323px;
      height: 216px;
      background: #e2ecf8;
      border-radius: 12px;
      border: 1px solid #eeeff0;
      margin-bottom: 23px;
    }
  }
}
