.caseCardContainer {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .caseCardContent {
    margin-bottom: 32px;
    width: 210px;
    .image {
      height: 210px;
      background: #e0e9f4;
      border-radius: 14px;
    }
    .title {
      margin-top: 12px;
      font-size: 32px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #86888c;
      line-height: 44px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  .nut-grid {
    border: none;
    .nut-grid-item-content {
      border: none;
    }
  }
}

.nut-tabpane {
  padding: 24px 10px;
}
.nut-tabs-content-wrap {
  overflow: hidden;
  height: 100vh !important;
}
