.content {
  padding: 0 20px 80px;
  height: 100vh;
  .image {
    width: 323px;
    height: 380px;
    //background: #e2ecf8;
    border-radius: 12px;
    //border: 1px solid #eeeff0;
    margin-bottom: 23px;
    .imageTitle {
      text-align: center;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
}
