.header {
  height: 250px;
  border: #aa6c0d 1px solid;
  border-radius: 15px;
  margin: 15px 20px;
  text-align: center;
  line-height: 250px;
  color: rgba(255, 176, 52, 0.84);
  font-size: 50px;
  font-weight: bold;
}
